*{
  box-sizing: border-box;
}
/* Homepage */
.App {
  text-align: center;
  margin: 1rem;
}
.header{
  color: #6C4923;
}
#state-view{
  padding: 2rem;
  /* border: black 2px dotted; */
  background-color: #2E1F0F;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  
}
#count-view{
  background-color: #B97C3C;
  color: #E6CDB2;
  font-size: 3vw;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  /* border: red solid; */
}
.btn-section{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button{
  border-radius: 20%;
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
}

.reset-btn{
  background-color: #6C4923;
  color: #E6CDB2; 
}
.decrease-btn{
  background-color: #F2183C;
  color: #E6CDB2;
}
.increase-btn{
  background-color: #104B07;
  color: #E6CDB2;
}
.increasex2-btn{
  background-color: #34b220;
}


/* Error Boundary */
.error-btn{
  color: #E6CDB2;
  background-color: #104B07;
  font-weight: 900;
  padding: 1rem;
  border-radius: 20px;
  border: none;
}
.error-msg{
  color: #F2183C;
}

/* NotFound (404) */
.ul-list{
  list-style-type: none;
}
